<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/selectordie.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/raphael-min.js"></script>
    <script type="text/javascript" src="js/res/chinaMapConfig.js"></script>
    <script type="text/javascript" src="js/res/worldMapConfig.js"></script>
    <script type="text/javascript" src="js/map1.js"></script>
    <script type="text/javascript" src="js/map2.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/selectordie.min.js"></script>
    <script type="text/javascript" src="js/select.js"></script>
    <title>China Weather</title>

</head>
<body>
<div class="tab">
    <div class="box">
        <ul class="menus">
            <li class="bg">最低气温平均值</li>
            <li>最高气温平均值</li>
            <li>平均气温各城市排行</li>
            <li>天气情况分布</li>
        </ul>
        <div class="right">
            <div class="scroll">
                <div class="tab_right">
                    <div class="wrap">
                        <div class="items" id="Item1">
                            <div class="itemCon">
                                <style type="text/css">
                                    .regionList {
                                        float: left;
                                        margin-top: 15px;
                                    }

                                    .regionList ul {
                                        float: left;
                                        width: 110px;
                                        height: 100%;
                                        margin-right: 5px;
                                        display: inline;
                                        font-family: "微软雅黑"
                                    }

                                    .regionList ul li {
                                        height: 24px;
                                        margin-left: 10px;
                                        padding: 0 0px;
                                        border: 1px solid #fff;
                                        line-height: 24px;
                                    }

                                    .regionList ul li.select {
                                        border: 1px solid #D3D3D3;
                                        background: #FFF1BF
                                    }

                                    .mapInfo i {
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        margin-top: 5px;
                                        line-height: 15px;
                                        font-style: normal;
                                        background: #aeaeae;
                                        color: #fff;
                                        font-size: 11px;
                                        font-family: Tahoma;
                                        -webkit-border-radius: 15px;
                                        border-radius: 15px;
                                        text-align: center
                                    }

                                    .mapInfo i.active {
                                        background: #E27F21;
                                    }

                                    .mapInfo span {
                                        padding: 0 5px 0 3px;
                                    }

                                    .mapInfo b {
                                        font-weight: normal;
                                        color: #2770B5
                                    }

                                    .regionMap {
                                        float: left;
                                        margin-left: 70px;
                                        display: inline;
                                    }
                                </style>
                                <div id="Region" style="position:relative; height:360px;">
                                    <div class="regionMap" id="RegionMap1"></div>
                                    <div id="MapColor"
                                         style=" display:none; float:left; width:30px; height:180px; margin:80px 0 0 50px; display:inline; background:url(images/map_color1.png) center 0;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab_right">
                    <div class="wrap">
                        <div class="items" id="Item2">
                            <div class="itemCon">
                                <style type="text/css">
                                    .regionList {
                                        float: left;
                                        margin-top: 15px;
                                    }

                                    .regionList ul {
                                        float: left;
                                        width: 110px;
                                        height: 100%;
                                        margin-right: 5px;
                                        display: inline;
                                        font-family: "微软雅黑"
                                    }

                                    .regionList ul li {
                                        height: 24px;
                                        margin-left: 10px;
                                        padding: 0 0px;
                                        border: 1px solid #fff;
                                        line-height: 24px;
                                    }

                                    .regionList ul li.select {
                                        border: 1px solid #D3D3D3;
                                        background: #FFF1BF
                                    }

                                    .mapInfo i {
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        margin-top: 5px;
                                        line-height: 15px;
                                        font-style: normal;
                                        background: #aeaeae;
                                        color: #fff;
                                        font-size: 11px;
                                        font-family: Tahoma;
                                        -webkit-border-radius: 15px;
                                        border-radius: 15px;
                                        text-align: center
                                    }

                                    .mapInfo i.active {
                                        background: #E27F21;
                                    }

                                    .mapInfo span {
                                        padding: 0 5px 0 3px;
                                    }

                                    .mapInfo b {
                                        font-weight: normal;
                                        color: #2770B5
                                    }

                                    .regionMap {
                                        float: left;
                                        margin-left: 70px;
                                        display: inline;
                                    }
                                </style>
                                <div id="Region" style="position:relative; height:360px;">
                                    <div class="regionMap" id="RegionMap2"></div>
                                    <div id="MapColor"
                                         style=" display:none; float:left; width:30px; height:180px; margin:80px 0 0 50px; display:inline; background:url(images/map_color2.png) center 0;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab_right">
                    <div id="container1" style="width: 100%;height:50%;"></div>
                    <script>
                        var myData;
                        axios.get('/api/getTempMaxSort')
                                .then((response) => {
                                    console.log(response);
                                    (function (b) {
                                        "object" === typeof module && module.exports ? module.exports = b : "function" === typeof define && define.amd ? define(function () {
                                            return b
                                        }) : b("undefined" !== typeof Highcharts ? Highcharts : void 0)
                                    })(function (b) {
                                        (function (a) {
                                            a.createElement("link", {
                                                href: "https://fonts.googleapis.com/css?family\x3dSignika:400,700",
                                                rel: "stylesheet",
                                                type: "text/css"
                                            }, null, document.getElementsByTagName("head")[0]);
                                            a.wrap(a.Chart.prototype, "getContainer", function (a) {
                                                a.call(this);
                                                this.container.style.background = "url(https://www.highcharts.com/samples/graphics/sand.png)"
                                            });
                                            a.theme = {
                                                colors: "#f45b5b #8085e9 #8d4654 #7798BF #aaeeee #ff0066 #eeaaee #55BF3B #DF5353 #7798BF #aaeeee".split(" "),
                                                chart: {backgroundColor: null, style: {fontFamily: "Signika, serif"}},
                                                title: {style: {color: "black", fontSize: "26px", fontWeight: "bold"}},
                                                subtitle: {style: {color: "black"}},
                                                tooltip: {borderWidth: 0},
                                                legend: {itemStyle: {fontWeight: "bold", fontSize: "13px"}},
                                                xAxis: {labels: {style: {color: "#6e6e70"}}},
                                                yAxis: {labels: {style: {color: "#6e6e70"}}},
                                                plotOptions: {
                                                    series: {shadow: !0}, candlestick: {lineColor: "#404048"},
                                                    map: {shadow: !1}
                                                },
                                                navigator: {xAxis: {gridLineColor: "#D0D0D8"}},
                                                rangeSelector: {
                                                    buttonTheme: {
                                                        fill: "white",
                                                        stroke: "#C0C0C8",
                                                        "stroke-width": 1,
                                                        states: {select: {fill: "#D0D0D8"}}
                                                    }
                                                },
                                                scrollbar: {trackBorderColor: "#C0C0C8"},
                                                background2: "#E0E0E8"
                                            };
                                            a.setOptions(a.theme)
                                        })(b)
                                    });
                                    myData = response.data;
                                    // 图表配置
                                    var chart = Highcharts.chart('container1', {
                                        chart: {
                                            type: 'column'
                                        },
                                        title: {
                                            text: '平均气温前十排行',
                                        },
                                        subtitle: {
                                            text: ''
                                        },
                                        xAxis: {
                                            type: 'category',
                                            labels: {
                                                style: {"fontSize": "16px"},
                                                rotation: -30  // 设置轴标签旋转角度
                                            }
                                        },
                                        yAxis: {
                                            min: 0,
                                            title: {
                                                text: '温度 (℃)',
                                                style: {"fontSize": "16px"}
                                            }
                                        },
                                        legend: {
                                            enabled: false
                                        },
                                        tooltip: {
                                            pointFormat: '温度: <b>{point.y:.1f} ℃</b>'
                                        },
                                        series: [{
                                            name: '平均气温前10',
                                            data: myData,
                                            // data: [
                                            //     ['上海', 24.25],
                                            //     ['卡拉奇', 23.50],
                                            //     ['北京', 21.51],
                                            //     ['德里', 16.78],
                                            //     ['拉各斯', 16.06],
                                            //     ['天津', 15.20],
                                            //     ['伊斯坦布尔', 14.16],
                                            //     ['东京', 13.51],
                                            //     ['广州', 13.08],
                                            //     ['孟买', 12.44],
                                            // ],
                                            dataLabels: {
                                                enabled: true,
                                                rotation: 0,
                                                color: '#FFFFFF',
                                                align: 'right',
                                                format: '{point.y:.1f}', // :.1f 为保留 1 位小数
                                                style: {"fontSize": "15px"},
                                                y: 10
                                            }
                                        }]
                                    });
                                })
                                .catch((error) => {
                                    console.log(error);
                                });


                    </script>
                    <div id="container2" style="width: 100%;height:50%;"></div>
                    <script>
                        var myData2;
                        axios.get('/api/getTempMinSort')
                                .then(function (response) {
                                    console.log(response);
                                    (function (b) {
                                        "object" === typeof module && module.exports ? module.exports = b : "function" === typeof define && define.amd ? define(function () {
                                            return b
                                        }) : b("undefined" !== typeof Highcharts ? Highcharts : void 0)
                                    })(function (b) {
                                        (function (a) {
                                            a.createElement("link", {
                                                href: "https://fonts.googleapis.com/css?family\x3dSignika:400,700",
                                                rel: "stylesheet",
                                                type: "text/css"
                                            }, null, document.getElementsByTagName("head")[0]);
                                            a.wrap(a.Chart.prototype, "getContainer", function (a) {
                                                a.call(this);
                                                this.container.style.background = "url(https://www.highcharts.com/samples/graphics/sand.png)"
                                            });
                                            a.theme = {
                                                colors: "#7cb5ec #8085e9 #8d4654 #7798BF #aaeeee #ff0066 #eeaaee #55BF3B #DF5353 #7798BF #aaeeee".split(" "),
                                                chart: {backgroundColor: null, style: {fontFamily: "Signika, serif"}},
                                                title: {style: {color: "black", fontSize: "26px", fontWeight: "bold"}},
                                                subtitle: {style: {color: "black"}},
                                                tooltip: {borderWidth: 0},
                                                legend: {itemStyle: {fontWeight: "bold", fontSize: "13px"}},
                                                xAxis: {labels: {style: {color: "#6e6e70"}}},
                                                yAxis: {labels: {style: {color: "#6e6e70"}}},
                                                plotOptions: {
                                                    series: {shadow: !0}, candlestick: {lineColor: "#404048"},
                                                    map: {shadow: !1}
                                                },
                                                navigator: {xAxis: {gridLineColor: "#D0D0D8"}},
                                                rangeSelector: {
                                                    buttonTheme: {
                                                        fill: "white",
                                                        stroke: "#C0C0C8",
                                                        "stroke-width": 1,
                                                        states: {select: {fill: "#D0D0D8"}}
                                                    }
                                                },
                                                scrollbar: {trackBorderColor: "#C0C0C8"},
                                                background2: "#E0E0E8"
                                            };
                                            a.setOptions(a.theme)
                                        })(b)
                                    });
                                    myData2 = response.data;
                                    // 图表配置
                                    var chart = Highcharts.chart('container2', {
                                        chart: {
                                            type: 'column'
                                        },
                                        title: {
                                            text: '平均气温后十排行',
                                        },
                                        subtitle: {
                                            text: ''
                                        },
                                        xAxis: {
                                            type: 'category',
                                            labels: {
                                                style: {"fontSize": "16px"},
                                                rotation: -30  // 设置轴标签旋转角度
                                            }
                                        },
                                        yAxis: {
                                            min: -20,
                                            title: {
                                                text: '温度 (℃)',
                                                style: {"fontSize": "16px"}
                                            }
                                        },
                                        legend: {
                                            enabled: false
                                        },
                                        tooltip: {
                                            pointFormat: '温度: <b>{point.y:.1f} ℃</b>'
                                        },
                                        series: [{
                                            name: '平均气温后10',
                                            data: myData2,
                                            // data: [
                                            //     ['上海', 24.25],
                                            //     ['卡拉奇', 23.50],
                                            //     ['北京', 21.51],
                                            //     ['德里', 16.78],
                                            //     ['拉各斯', 16.06],
                                            //     ['天津', 15.20],
                                            //     ['伊斯坦布尔', 14.16],
                                            //     ['东京', 13.51],
                                            //     ['广州', 13.08],
                                            //     ['孟买', 12.44],
                                            // ],
                                            dataLabels: {
                                                enabled: true,
                                                rotation: 0,
                                                color: '#FFFFFF',
                                                align: 'right',
                                                format: '{point.y:.1f}', // :.1f 为保留 1 位小数
                                                style: {"fontSize": "15px"},
                                                y: 10
                                            }
                                        }]
                                    });
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });

                    </script>
                </div>
                <div class="tab_right">
                    <div class="select">
                        <select id="mySelect">
                            <!--<option value="交互设计">交互设计</option>-->
                            <!--<option value="视觉设计">视觉设计</option>-->
                            <!--<option value="前端开发">前端开发</option>-->
                            <!--<option value="后端开发">后端开发</option>-->
                            <!--<option value="用户研究">用户研究</option>-->
                            <!--<option value="产品经理">产品经理</option>-->
                        </select>
                    </div>
                    <div id="container3" style="margin:60px auto;width:80%;height:70%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="js/index.js"></script>
</body>
</html>